@import '../../styles/global-variables';

.timer__cube-pic {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer__cube-pic-container {
    display: flex;
}

.timer__cube-pic-row {
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-between;
}

.timer__cube-face-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer__cube-face--only {
    width: 9vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    justify-content: space-around;
    align-items: center;

    &.column {
        width: 10px;
        flex-direction: column;

        .timer__cube-sticker {
            width: 10px;
        }
    }
    &.row {
        height: 10px;

        .timer__cube-sticker {
            height: 10px;
        }
    }
}

.timer__cube-face {
    width: 9vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 22.5%;
    height: 100%;
    justify-content: space-around;
}

.timer__cube-sticker {
    /* torn whether I want this... border-radius: 6px; */

    &--white {
        background: $cube-sticker-white;
    }

    &--orange {
        background: $cube-sticker-orange;
    }

    &--green {
        background: $cube-sticker-green;
    }

    &--red {
        background: $cube-sticker-red;
    }

    &--blue {
        background: $cube-sticker-blue;
    }

    &--yellow {
        background: $cube-sticker-yellow;
    }

    &--gray {
        background: $cube-sticker-gray;
    }
}

.timer__cube-pic--2x2x2 {
    .timer__cube-sticker {
        width: 45%;
        height: 45%;
    }
}

.timer__cube-pic--3x3x3 {
    .timer__cube-sticker {
        width: 30%;
        height: 30%;
    }
}

.timer__cube-pic--4x4x4 {
    .timer__cube-sticker {
        width: 23%;
        height: 23%;
    }
}

.timer__cube-pic--5x5x5 {
    .timer__cube-sticker {
        width: 18%;
        height: 18%;
    }
}

.timer__cube-pic--6x6x6 {
    .timer__cube-sticker {
        width: 15%;
        height: 15%;
    }
}

.timer__cube-pic--7x7x7 {
    .timer__cube-sticker {
        width: 13%;
        height: 13%;
    }
}

@media (max-width: $small-screen-width) {
    .timer__cube-sticker {
        border-radius: 3px;
    }
}