@import '../../styles/global-variables';

.timer__cube-pic {
    margin: $size-s auto;
    width: 40vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer__cube-pic-container {
    display: flex;
}

.timer__cube-pic-row {
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-around;
}

.timer__cube-face {
    width: 9vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 22.5%;
    height: 100%;
    justify-content: space-around;
}

.timer__cube-sticker {
    width: 30%;
    height: 30%;
    border-radius: 6px;

    &--white {
        background: $cube-sticker-white;
    }

    &--orange {
        background: $cube-sticker-orange;
    }

    &--green {
        background: $cube-sticker-green;
    }

    &--red {
        background: $cube-sticker-red;
    }

    &--blue {
        background: $cube-sticker-blue;
    }

    &--yellow {
        background: $cube-sticker-yellow;
    }
}

@media (max-width: $small-screen-width) {
    .timer__cube-sticker {
        border-radius: 3px;
    }
}