@import '../../styles/global-variables';

.timer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .timer__main {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: space-between;
        height: 93%;
        min-height: 500px;
    }

    .timer__left-bar {
        border-right: $thin-border-size $main-border-color;
        overflow-y: auto;
        flex: 1 0 auto;
        padding: $size-xs;
        min-width: 20%;
    }

    .timer__button {
        padding: 0.5vw;
        background: $button-background-color;
        color: $button-font-color;
        border: $primary-border-size $button-border-color;
        border-radius: $size-xs;
        font-size: 1.2vw;
        font-family: monospace;
        font-weight: bold;

        &:hover,
        &.timer__button--active:hover {
            background: $button-background-color-hover;
            border: $primary-border-size $button-border-color-hover;
        }

        &:active,
        &.timer__button--active {
            background: $button-background-color-active;
            border: $primary-border-size $button-border-color-active;
        }

        &.timer__button--active:active {
            background: $button-background-color;
            border: $primary-border-size $button-border-color;
        }

        @media (min-width: $big-screen-width) {
            & {
                font-size: $size-m;
            }
        }
    }

    .timer__select {
        padding: 0.5vw;
        background: $select-background-color;
        color: $select-font-color;
        border: $primary-border-size $select-border-color;
        border-radius: $size-xs;
        font-size: 1.2vw;
        font-family: monospace;
        font-weight: bold;

        &:hover {
            background: $select-background-color-hover;
            border: $primary-border-size $select-border-color-hover;
        }

        &:active {
            background: $select-background-color-active;
            border: $primary-border-size $select-border-color-active;
        }

        @media (min-width: $big-screen-width) {
            & {
                font-size: $size-m;
            }
        }
    }

    .timer__input {
        padding: 0.5vw;
        background: $input-background-color;
        color: $input-font-color;
        border: $primary-border-size $input-border-color;
        border-radius: $size-xs;
        font-size: 1.2vw;
        font-family: monospace;
        font-weight: bold;

        &:hover {
            background: $input-background-color-hover;
            border: $primary-border-size $input-border-color-hover;
        }

        &:active {
            background: $input-background-color-active;
            border: $primary-border-size $input-border-color-active;
        }

        @media (min-width: $big-screen-width) {
            & {
                font-size: $size-m;
            }
        }
    }

    @media (max-width: $small-screen-width) {
        .timer__main {
            flex-direction: column-reverse;
        }

        .timer__left-bar {
            border-top: $thin-border-size $main-border-color;
            border-right: none;
            flex-shrink: 1;
            width: 100%;
            padding: 0;


            .timer__session-actions {
                flex-direction: column;

                .timer__button {
                    margin: $size-xxs auto;
                }
            }
        }

        .timer__button,
        .timer__button:hover,
        .timer__select,
        .timer__select:hover,
        .timer__input,
        .timer__input:hover {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            border-width: $size-xxxxs;
            font-size: $size-m;
        }
    }
}