@import '../../styles/global-variables';

.timer__alerts-container {
    position: absolute;
    width: 15%;
    right: 2%;
    bottom: 3%;
}

.timer__alert {
    background: $main-background-color;
    border: $thin-border-size $main-border-color;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $size-xs;
    overflow: hidden;
}

.timer__alert .timer__button,
.timer__alert .timer__button:hover {
    margin: $size-xs;
}

@media (max-width: $small-screen-width) {
    .timer__alerts-container {
        left: 10%;
        width: 80%;
    }

    .timer__alert {
        width: 100%;
    }

    .timer__alert-message {
        text-align: left;
        width: 100%;
    }

    .timer__alert .timer__button,
    .timer__alert .timer__button:hover {
        width: 20%;
    }
}