@import '../../styles/global-variables';

.timer__bests {
    font-size: 1.2vw;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;

    th, td {
        padding: 0 $size-xs;
        text-align: right;
    }

    .timer__result--beats-goal {
        color: $cube-sticker-green-faded;
    }
}

@media (max-width: $small-screen-width) {
    .timer__bests {
        font-size: $size-m;

        td {
            padding: $size-s $size-xs;
        }
    }
}