@import '../../styles/global-variables';

.timer__solve-dialog  {
    @include common-dialog-styles;
    width: 70%;
    left: 15%;
}

.timer__solve-dialog-inner {
    overflow-y: auto;
    max-height: 72vh;
}

input.timer__solve-dialog-time {
    background: $input-background-color;
    border: $primary-border-size $input-border-color;
    border-radius: $size-xs;
    height: 4vw;
    width: 90%;
    color: $input-font-color;
    font-size: 4vw;
    text-align: center;
    font-family: monospace;
    margin-bottom: 1vw;
}

.timer__solve-dialog-actions .timer__button {
    margin: $size-xxs;
}

@media (max-width: $small-screen-width) {
    .timer__solve-dialog  {
        font-size: $size-l;
        width: 80%;
        left: 10%;
        padding: 1vw;
    }
}