@import '../../styles/global-variables';

.timer__bld-trainer-component {
    .basic-table {
        width: unset;
    }

    .timer__select {
        width: 80px;
    }

    .bld-pair-column {
        width: 50px;
    }

    .bld-pair-row {
        height: 50px;
    }

    .bld-pair--dupe {
        background-color: #211;
    }

    .bld-pair--col-hover,
    .bld-pair--row-hover {
        background-color: #222;
    }
    
    .bld-pair--exact-hover {
        background-color: #444;
    }

    .bld-pair--null {
        background-color: #111;
        color: #111;
    }

    .trainer-pair {
        font-size: $size-xl;
    }
}