@import '../../styles/global-variables';

.timer__bld-trainer-component {
    .basic-table {
        width: unset;
    }

    .timer__select {
        width: 80px;
    }

    .bld-pair-column {
        width: 50px;
    }

    .bld-pair-row {
        height: 50px;
    }

    .bld-pair--null {
        background-color: $table-border-color;
    }

    .trainer-pair {
        font-size: $size-xl;
    }
}