@import '../../styles/global-variables';

.timer__solve-details  {
    width: 70%;

    .timer__results {
        width: auto;
    }
}

input.timer__solve-details-time {
    background: $input-background-color;
    border: $primary-border-size $input-border-color;
    border-radius: $size-xs;
    color: $input-font-color;
    text-align: center;
    font-family: monospace;
    margin-bottom: $size-m;
    width: 150px;
    height: $size-l;
    font-size: $size-l;
}

.timer__solve-details-date {
    margin-bottom: $size-s;
}

.timer__solve-details-scramble {
    width: 400px;
    margin: 0 auto;
    margin-bottom: $size-s;
}

.timer__solve-details-actions .timer__button {
    margin: $size-xxs;
}

.timer__solve-details-case-pickers {
    max-width: 450px;
}

@media (max-width: $small-screen-width) {
    .timer__solve-details  {
        font-size: $size-l;
        width: 80%;
        left: 10%;
        padding: 1vw;
    }
}