@import '../../styles/global-variables';
.case-picker {
    margin-bottom: $size-xs;
}
.case-picker__group-tabs {
    font-size: $size-m;
    margin: $size-s 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .group-tab  {
        border-bottom: solid white thin;
        padding: $size-xxs $size-xs;

        &:hover {
            background-color: $button-background-color-hover;
            cursor: pointer;
        }

        &.selected {
            border: solid white thin;
        }
    }
}
.case-picker__case-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    .case {
        padding: $size-m 0;
        width: 140px;

        &.case--selected {
            background-color: $button-background-color-active;
        }

        &:hover {
            cursor: pointer;
            background-color: $button-background-color-hover;
        }

        .case__name {
            font-size: $size-s;
            height: $size-l;
        }
    }
}

@media (max-width: $small-screen-width) {
    .case-picker__case-list {
        align-items: center;
        flex-direction: column;
    }
    .case-picker__group-tabs .group-tab {
        padding: $size-s $size-m;
    }
}