@import '../../styles/global-variables';

.timer__header {
    padding: $size-xxs 0;
    border-bottom: $thin-border-size $main-border-color;
    font-size: $size-l;
    width: 100%;

    .timer__header-actions {
        position: absolute;
        right: 1%;
        display: flex;

        .timer__button {
            font-size: $size-s;
            padding: $size-xxxs $size-xs;
            margin: $size-xxs;
            height: $size-l;

            &:hover {
                margin: $size-xxs;
            }
        }

        svg.timer__icon {
            width: $size-m;
            height: $size-m;
            color: $main-font-color;
        }
    }
}