@import '../../styles/global-variables';

.timer__settings-dialog  {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: $size-m;

    .timer__settings-dialog-setting {
        margin-bottom: $size-xs;
    }
}