@import '../../styles/global-variables';

.timer__session-dialog  {
    @include common-dialog-styles;
    display: flex;
    flex-direction: column;

    .timer__input, .timer__button {
        margin-bottom: $size-xs;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}