@import '../../styles/global-variables';

.timer__multi-solve-dialog {
    @include common-dialog-styles;
    width: 70%;
    left: 15%;
    padding: 1vw;
    overflow-y: auto;
}

.timer__multi-solve-dialog-times {
    font-size: 1.8vw;
    margin: $size-xs;
    text-align: left;
    width: 100%;
}

.timer__multi-solve-dialog-times, .timer__multi-solve-dialog-times th, .timer__multi-solve-dialog-times td {
    border: $thin-border-size $table-border-color;
    border-collapse: collapse;
}

.timer__multi-solve-dialog-times th, .timer__multi-solve-dialog-times td {
    padding-left: $size-m;
}

@media (max-width: $small-screen-width) {
    .timer__multi-solve-dialog {
        font-size: $size-l;
        width: 80%;
        left: 10%;
        padding: 1vw;
    }

    .timer__multi-solve-dialog-times {
        font-size: $size-m;
        margin: $size-xs 0;
        text-align: left;
        width: 100%;
    }
}