@import '../../styles/global-variables';

.alg-library {
    margin: 0 auto;

    .alg-library-type-button {
        margin: $size-xs;
    }

    .alg-library__case-name {
        width: 100px;
    }
    .alg-library__case-pic {
        width: 200px;
        padding: $size-s 0;
    }
    .alg-library__case-alg {
        padding: $size-s;
        text-align: left;
        width: 300px;
    }
    .alg-library__case-auf {
        padding: $size-s;
        text-align: left;
        width: 200px;
    }
    .alg-library__case-notes {
        padding: $size-s;
        text-align: left;
        width: 200px;
    }
}
.two-side-library {
    width: 1000px;
    margin: $size-s auto 0;

    .two-side-library-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .two-side-library-group {
            width: 456px;
            border: $primary-border-size $button-border-color;
            padding: 0 $size-xs;
            margin: $size-s;

            .two-side-library-group-header {
                display: flex;
                justify-content: space-evenly;
            }
        
            .two-side-library-entry {
                display: flex;
                margin-bottom: $size-s;
                align-items: center;
        
                .timer__two-side {
                    margin-right: $size-s;
                }
            }
        }
    }
}

.two-side-library-trainer {
    margin: $size-m auto 0;
    width: 412px;

    .two-side-library-trainer__main {
        margin-top: $size-l;
    }

    .two-side-library-trainer__controls {
        display: flex;
    }

    .two-side-library-trainer__pattern {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $size-m;
    }

    .two-side-library-trainer__choices {
        display: flex;
        flex-wrap: wrap;

        .timer__button {
            width: 95px;
            margin: $size-xxs;
        }
    }
}

@media (max-width: $small-screen-width) {
    .two-side-library {
        display: flex;
        flex-wrap: wrap;
        width: 390px;
        justify-content: space-between;
        margin: 0 auto;
    
        .two-side-library-group {
            width: 390px;
            border: $primary-border-size $button-border-color;
            padding: 0 $size-xs;
            margin: $size-s 0;
    
            .two-side-library-group-header {
                display: flex;
                justify-content: space-evenly;
            }
        
            .two-side-library-entry {
                display: flex;
                margin-bottom: $size-s;
                align-items: center;
                font-size: 9px;
        
                .timer__two-side {
                    margin-right: $size-s;
                }
            }
        }
    }
}