.timer__select-session {
    margin-bottom: 4px;
    text-align: center;
}

.timer__session-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: space-evenly;
}

.timer__select {
    width: 100%;
}