@import '../../styles/global-variables';

.timer__select.timer__select-session {
    margin-bottom: $size-xxs;
    text-align: center;
    width: 90%;
}

.timer__session-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: $size-xs;
    justify-content: space-evenly;
}

.timer__select {
    width: 100%;
}