@import '../../styles/global-variables';

.timer__settings-view  {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: $size-m;
    width: 70%;
    padding: $size-m;

    .timer__settings-view-setting {
        margin-bottom: $size-xs;
    }
}