@import '../../styles/global-variables';

.timer__insights-view {
    width: 70%;
    left: 15%;
    padding: 1vw;
    overflow-y: scroll;

    .timer__tooltip {
        background-color: $main-background-color;
        border: $thin-border-size $main-border-color;
        border-radius: $size-xs;
        padding: $size-xs;
    }

    .timer__tooltip-label {
        display: flex;
        justify-content: space-between;

        .timer__tooltip-label-key {
            margin-right: $size-l;
        }
    }
}


@media (max-width: $small-screen-width) {
    .timer__insights-view {
        width: 98%;
        max-height: 85%;
    }
}