.timer__results {
    font-size: 1.5vw;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;

    th, td {
        text-align: right;
        padding: 0 8px;
    }

    &, th, td {
        border: 1px solid #666;
        border-collapse: collapse;
    }

    .timer__group-indicator {
        border-bottom: 3px solid;
    }

   /* tr:nth-child(5) {
        border-bottom: 3px solid #383;
    }

    tr:nth-child(12) {
        border-bottom: 3px solid #DD3;
    }*/

    .timer__result--best {
        color: #383;
    }

    .timer__result--penalty {
        color: #B66;
    }
}

@media (max-width: 768px) {
    .timer__results {
        font-size: 16px;
    }
}