@import '../../styles/global-variables';

.timer__results {
    font-size: 1.5vw;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;

    th, td {
        text-align: right;
        padding: 0 $size-xs;
    }

    &, th, td {
        border: $thin-border-size $table-border-color;
        border-collapse: collapse;
    }

    .timer__group-indicator {
        border-bottom: $primary-border-size;
    }

    .timer__result--best {
        color: $green-light;
    }

    .timer__result--penalty {
        color: $red-light;
    }
}

@media (max-width: $small-screen-width) {
    .timer__results {
        font-size: $size-m;
    }
}