html {
  /* Always put scroll on actual components, not whole-ass page */
  overflow-y: clip;
}

html, body, #root {
  height: 100%;
}

body {
  background: black;
  color: #AAA;
  font-family: monospace;
  text-align: center;
  margin: 0;
}